
/* latin-ext */
@font-face {
  font-family: 'Khula-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Khula Light'), local('Khula-Light'), url(http://fonts.gstatic.com/s/khula/v1/XlrUUeBwOkvgBrUmmOxvCRkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Khula-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Khula Light'), local('Khula-Light'), url(http://fonts.gstatic.com/s/khula/v1/-xx0uPo3wDx608yKBDdcBXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Khula-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Khula'), local('Khula-Regular'), url(http://fonts.gstatic.com/s/khula/v1/4Aoyts13PoFgwTYKqYUvl4DGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Khula-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Khula'), local('Khula-Regular'), url(http://fonts.gstatic.com/s/khula/v1/o75qJfGxtQmF0aLh4-Fr5qCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Khula-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Khula Bold'), local('Khula-Bold'), url(http://fonts.gstatic.com/s/khula/v1/3DbvmewHQ-XCusJJOsRnXxkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Khula-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Khula Bold'), local('Khula-Bold'), url(http://fonts.gstatic.com/s/khula/v1/X7lqfHGcWpWlhqJUbgWL3HYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'AdelleSans-Bold';
    src: url('../fonts/AdelleSansWeb/AdelleSansBasic_Bold.eot');
	src: url('../fonts/AdelleSansWeb/AdelleSansBasic_Bold.eot') format('eot'),
		 url('../fonts/AdelleSansWeb/AdelleSansBasic_Bold.woff') format('woff'),
		 url('../fonts/AdelleSansWeb/AdelleSansBasic_Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'AdelleSans-Light';
    src: url('../fonts/AdelleSansWeb/AdelleSansBasic_Light.eot');
	src: url('../fonts/AdelleSansWeb/AdelleSansBasic_Light.eot') format('eot'),
		 url('../fonts/AdelleSansWeb/AdelleSansBasic_Light.woff') format('woff'),
		 url('../fonts/AdelleSansWeb/AdelleSansBasic_Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AdelleSans-Regular';
    src: url('../fonts/AdelleSansWeb/AdelleSansBasic_Regular.eot');
	src: url('../fonts/AdelleSansWeb/AdelleSansBasic_Regular.eot') format('eot'),
		 url('../fonts/AdelleSansWeb/AdelleSansBasic_Regular.woff') format('woff'),
		 url('../fonts/AdelleSansWeb/AdelleSansBasic_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'atlas-icons';
    src: url('../fonts/atlas-icons.eot');
	src: url('../fonts/atlas-icons.eot') format('eot'),
		 url('../fonts/atlas-icons.woff') format('woff'),
		 url('../fonts/atlas-icons.ttf') format('truetype'),
		 url('../fonts/atlas-icons.svg?-3xt31v#atlas-icons') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'qz-icons';
    src: url('../fonts/qz-icons.eot');
	src: url('../fonts/qz-icons.eot') format('eot'),
		 url('../fonts/qz-icons.woff') format('woff'),
		 url('../fonts/qz-icons.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
